.vscode/
.vs/



# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
desktop.ini
*.v2
.vs/SharpLogic/v16/.suo
*.v2
.vs/SharpLogic/v16/.suo
.vs/SharpLogic/v16/.suo
